body
{
	width: 100%;
	font-family: 'Helvetica', sans-serif;	
	margin: 0px;
	min-width: 1100px;
	max-width: 1500px;
}

/*
-----------------------------------------
--------------- Home page ---------------
-----------------------------------------
*/
.headerBG
{
	width: 0;
	height: 0;
	border-top: 550px solid #F84F5E;
	border-right: 4000px solid transparent;
	position: fixed;
}

#content
{
	width: 900px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.contentColumn
{
	width: 450px;
	height: 540px;
	margin-top: 100px;
	float: left;
	margin-left: 0px;
}

#left p
{
	padding-top: 30px;
	width: 400px;
	font-size: 15px;
	font-weight: lighter;
	color: white;
	line-height: 20px;
}

#badge
{
	margin-top: 60px;
}

#supLinksContainer
{
	width: 400px;
	margin-top: 110px;
	height: 44px;
}

#supLinksContainer h4
{
	color: #F84F5E;
	font-weight: bold;
	float: left;
	font-size: 14px;
	margin-right: 50px;
}

#right
{
	margin-top: 60px;
}

#right img
{
	width: 300px;
	position: absolute;
	margin-left: 55px;
}

#faders img
{
	margin-left: 73.5px;
	margin-top: 68px;
	position: absolute;
	width: 262.58px;
}

/*
--------------------------------------------
--------------- Contact page ---------------
--------------------------------------------
*/

#contactHeader
{
	width: 100%;
	height: 80px;
	background-color: #F84F5E;
}

#logoContainer
{
	width: 900px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

#logoContainer img
{
	height: 50px;
	margin-top: 15px;
	float: left;
}

#linkContainer
{
	height: 80px;
	float: right;
}

#linkContainer h4
{
	float: right;
	font-weight: normal;
	color: white;
	padding-left: 40px;
	margin-top: 33px;
	font-size: 14px;
}

#contact
{
	width: 100%;
	height: 650px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-image: url(Assets/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#contactInfo
{
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#contactInfo h1
{
	color: white;
	margin: 0px;
	padding-top: 90px;
	font-size: 30px;
	height: 60px;
}

#contactInfo h4
{
	color: white;
	font-size: 17px;
	font-weight: normal;
	height: 14px;
}

#fb
{
	margin-top: 40px;
	margin-right: 30px;
	height: 20px;
}

#insta
{
	margin-top: 40px;
	margin-left: 30px;
	height: 20px;
}

#twitter
{
	margin-top: 40px;
	height: 20px;
}

#contactInfo a:link
{
	text-decoration: none;
}

#line
{
	width: 400px;
	height: 1px;
	background-color: white;
	opacity: 0.3;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#contactInfo h2
{
	color: white;
	font-size: 28px;
	padding-top: 22px;
	height: 60px;
}

#contact-badge
{
	height: 40px;
}

/*
--------------------------------------------
---------------- Legal page ----------------
--------------------------------------------
*/

#legalHeader
{
	width: 100%;
	height: 80px;
	background-color: #F84F5E;
	position: fixed;
}

#container
{
	width: 900px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#menu
{
	width: 220px;
	height: 600px;
	margin-top: 80px;
	margin-left: 0px;
	float: left;
	border-right: 1px solid #F84F5E;
	position: fixed;
}

#menu h4
{
	color: #F84F5E;
	padding-left: 68px;
	font-size: 15px;
}

#privacy
{
	margin-top: 80px;
	margin-bottom: 40px;
}

#text
{
	width: 670px;
	height: 600px;
	float: left;
	margin-left: 250px;
	margin-top: 90px;
	padding-bottom: 30px;
}

/*
--------------------------------------------
---------- Terms and Privacy page ----------
--------------------------------------------
*/
.legalHeader
{
	font-size: 20px;
	color: #F84F5E;
}

.legalTitle
{
	font-size: 17px;
}

.legalText
{
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
}





